{% load static %}
<!DOCTYPE HTML>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<title>Video Templates</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>



<link href="{% static 'asset/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' media="all" />

<link href="{% static 'asset/css/dashboard.css' %}" rel="stylesheet">

<link href="{% static 'asset/css/style.css' %}" rel='stylesheet' type='text/css' media="all" />

<link href="{% static 'asset/css/responsive.css' %} " rel='stylesheet' type='text/css' media="all" />



<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


</head>
  <body>



<body>


        <div class="col-sm-3 col-md-2 sidebar">


				<div class="drop-navigation drop-navigation">
					<div class="logo">
				<a href="/">
				<img src="{% static 'asset/images/logo.png' %}">
				</a>
				</div>

				  <ul class="nav nav-sidebar">


<li >
<a href="/">
<img src="{% static 'asset/images/recomonded_icon.png' %} ">
Recommended
</a></li>


<li class="active">
<a href="/trending">
<img src="{% static 'asset/images/trending_icon.png' %}">
Trending
</a>
</li>

<li>
<a href="/newarrival">
<img src="{% static 'asset/images/new_arrival_icon.png' %} ">
New Arrivals
</a>
</li>

<li>
<a href="/coming_soon">
<img src="{% static 'asset/images/comingsoon_icon.png' %}">
Coming Soon
</a>
</li>

<li>
<a href="/categories">
<img src="{% static 'asset/images/categories_icon.png' %} ">
Categories
</a>
</li>

<li>
<a href="/favoriesl">
<img src="{% static 'asset/images/favorite_icon.png' %} ">
Favorites
</a>
</li>

<li>
<a href="/towatch">
<img src="{% static 'asset/images/watching_icon.png' %} ">
To Watch
</a>
</li>




				  </ul>

					<div class="side-bottom">
						<div class="side-bottom-icons">
							<ul class="nav2">
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="facebook twitter"> </a></li>
								<li><a href="#" class="facebook chrome"> </a></li>
								<li><a href="#" class="facebook dribbble"> </a></li>
							</ul>
						</div>

					</div>


				</div>


		</div>

	  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	  	<div class="col-md-12 p-0 top_box_inner">

<div class="filter_box">
<div class="dropdown">
  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span>
	<img src="{% static 'asset/images/filter_icon.png' %}">
	</span> Filter by
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" data-value="action">Popularity</a></li>
    <li><a href="#" data-value="another action">Recently added</a></li>
    <li><a href="#" data-value="something else here">Price - High to Low</a></li>
    <li><a href="#" data-value="separated link">Price - Low to High</a></li>
  </ul>
</div>
</div>




		<div class="login_signup">
			<a href="/profile">
			<img src="{% static 'asset/images/login_user.png' %}">
			</a>
			</div>
			</div>




			<div class="main-grids p-0">



				<div class="recommended box_video_in">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Trending</h3>
						</div>

						{% for m in movies %}

						<div class="col-md-3 resent-grid recommended-grid">
							<a href="">
							<div class="resent-grid-img recommended-grid-img">
								<a href="/{{m.slug}}/view_video"><img src="/media/{{m.thumbnail_image}}" alt="" /></a>
								<div class="time small-time">
									<p> {{m.}} </p>
								</div>
								<div class="clck small-clck">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
								</div>
							</div>
						</a>
							<div class="resent-grid-info recommended-grid-info video-info-grid">
								<h5><a href="/{{m.slug}}/view_video" class="title"><span> {{m.title}} </span>...</a></h5>
								<ul>
									<li><p class="author author-info">Telugu</p></li>
									<li class="right-list"><p class="views views-info">

									 <span>₹{{m.price}}</span>

									</p></li>
								</ul>
							</div>
						</div>
					</a>
						{% endfor %}

						<div class="clearfix"> </div>
					</div>



				</div>




			</div>

		</div>




		<div class="clearfix"> </div>





   <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="{% static 'asset/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'asset/js/responsiveslides.min.js' %}"></script>


						 <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						  </script>



						 <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						  </script>


<script>
$(".dropdown-menu li a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>


   </body>
</html>