{% load static %}
<!DOCTYPE HTML>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<title>Video Templates</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<link href="{% static 'asset/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' media="all" />

<link href="{% static 'asset/css/dashboard.css' %}" rel="stylesheet">

<link href="{% static 'asset/css/style.css' %}" rel='stylesheet' type='text/css' media="all" />

<link href="{% static 'asset/css/responsive.css' %} " rel='stylesheet' type='text/css' media="all" />



<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


</head>
  <body>



<body>


        <div class="col-sm-3 col-md-2 sidebar">


				<div class="drop-navigation drop-navigation">
					<div class="logo">
				<a href="/">
				<img src="{% static 'asset/images/logo.png' %}">
				</a>
				</div>

				  <ul class="nav nav-sidebar">


<li>
<a href="/">
<img src="{% static 'asset/images/recomonded_icon.png' %} ">
Recommended
</a></li>


<li>
<a href="/trending">
<img src="{% static 'asset/images/trending_icon.png' %}">
Trending
</a>
</li>

<li>
<a href="/newarrival">
<img src="{% static 'asset/images/new_arrival_icon.png' %} ">
New Arrivals
</a>
</li>

<li>
<a href="/coming_soon">
<img src="{% static 'asset/images/comingsoon_icon.png' %}">
Coming Soon
</a>
</li>

<li>
<a href="/categories">
<img src="{% static 'asset/images/categories_icon.png' %} ">
Categories
</a>
</li>

<li>
<a href="/favoriesl">
<img src="{% static 'asset/images/favorite_icon.png' %} ">
Favorites
</a>
</li>

<li>
<a href="/towatch">
<img src="{% static 'asset/images/watching_icon.png' %} ">
To Watch
</a>
</li>




				  </ul>

					<div class="side-bottom">
						<div class="side-bottom-icons">
							<ul class="nav2">
								<li><a href="#" class="facebook"> </a></li>
								<li><a href="#" class="facebook twitter"> </a></li>
								<li><a href="#" class="facebook chrome"> </a></li>
								<li><a href="#" class="facebook dribbble"> </a></li>
							</ul>
						</div>

					</div>


				</div>


		</div>

	  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	  <div class="show-top-grids">

				<div class="col-sm-12 single-left">


<div class="song">

<div class="video-grid">
<div class="grid_block">

<div class="btn_flybox"><a href=""><span class="btn  btn-play">Play</span></a></div>
<div class="time_duration">

<span class="glyphicon glyphicon-time" aria-hidden="true"></span>2:34


</div>

</div>

<iframe  src="/media/{{movie.banner_image}}" allowfullscreen>
	<img src="/media/{{movie.banner_image}}" alt="">
</iframe>
</div>

<div class="song-info">
<h3>{{movie.title}} <span>₹{{movie.price}}</span></h3>

<div>

<div class="share share_left">
<ul>
<li class="laungage">{{movie.language}}</li>
<li class="laungage">{{movie.genre}}</li>
<li class="laungage">{{movie.age_restrication}}+</li>
<li class="laungage">{{movie.parental_guidance}}</li>

<li class="bookmark">
	<form action="/bookmarks" method="POST" class='dd' id="{{movie.id}}">
		{% csrf_token %}

		<input type="hidden" name="post_pk" id="post_pk" value="{{movie.pk}}" >
		<button style="color: black;" type="submit" class="btn btn--primary bookmark-btn{{movie.id}}">
			{% if request.user in movie.bookmarks.all %}
			remove bookmark
			{% else %}
			bookmark
			{% endif %}
		</button>
	</form>
</li>
<li class="like">
	<form action="/likes" method="POST" class='ddd' id="{{movie.id}}">
		{% csrf_token %}

		<input type="hidden" name="post_pk" id="post_pk" value="{{movie.pk}}" >
		<button style="color: black;" type="submit" class="btn btn--primary like-btn{{movie.id}}">
			{% if request.user in movie.likes.all %}
			UnLike
			{% else %}
			Like
			{% endif %}
		</button>
	</form>
	<div class="count">
		{{likes}} Likes
	</div>
</li>
</ul>
</div>




<script>
	$(document).ready(function(){
		$('.ddd').submit(function(e){
			e.preventDefault()
			const post_id = $(this).attr('id')
			const LikeText = $(`.like-btn${post_id}`).text()
			const trim = $.trim(LikeText)
			const url =  $('.ddd').attr('action')
			const count = $(`.count`).text()
			const trm = $.trim(count)
			$.ajax({
				type: 'POST',
				url: url,
				data:{
					'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
					'post_pk':post_id,
				},
				success: function(){
					$.ajax({
						type:'GET',
						url:'/serialized/{{movie.slug}}',
						success:function(response){
							$.each(response,function(index,element)
							{

								if(post_id==element.id){
									if(trim =='Like') {
										$(`.like-btn${post_id}`).html('UnLike')
								} else if(trim =='UnLike'){
									$(`.like-btn${post_id}`).html('Like')
								} else{
									console.log('oops')
								}
							}
							})

						}
					})
					location.reload();
				},
				error:function(error){
					console.log('error',error)
				}
			})

		})
	})
</script>

<script>
	$(document).ready(function(){
		$('.dd').submit(function(e){
			e.preventDefault()
			const post_id = $(this).attr('id')
			const LikeText = $(`.bookmark-btn${post_id}`).text()
			const trim = $.trim(LikeText)
			const url =  $('.dd').attr('action')
			const count = $(`.counts`).text()
			const trm = $.trim(count)
			$.ajax({
				type: 'POST',
				url: url,
				data:{
					'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
					'post_pk':post_id,
				},
				success: function(){
					$.ajax({
						type:'GET',
						url:'/serialized/{{movie.slug}}',
						success:function(response){
							$.each(response,function(index,element)
							{

								if(post_id==element.id){
									if(trim =='bookmark') {
										$(`.bookmark-btn${post_id}`).html('remove bookmark')
								} else if(trim =='remove bookmark'){
									$(`.bookmark-btn${post_id}`).html('bookmark')
								} else{
									console.log('oops')
								}
							}
							})

						}
					})
					location.reload();
				},
				error:function(error){
					console.log('error',error)
				}
			})

		})
	})
</script>



</div>


</div>



</div>





					<div class="clearfix"> </div>

					<div class="published">
						<h1>Crew:</h1>


<div class="crew_box">

{% for c in crew %}
<div class="col-md-6  p-0">
<table>
<tbody>
<tr>
<td>
<img src="/media/{{c.photo}}">
</td>
<td>{{c.name}}</td>
<td>
{{c.role}}
</td>
</tr>
</tbody>
</table>
</div>
{% endfor  %}

</div>







					</div>


					<div class="published">

							<div class="load_more">
								<ul id="myList">
									<li style="display: list-item;">
									<p> {{movie.plot}} </p>
									</li>





									</li>
								</ul>
							</div>
					</div>



				</div>





			</div>


		</div>










   <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsiveslides.min.js"></script>
	<script src="{% static 'asset/js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'asset/js/responsiveslides.min.js' %}"></script>


						 <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						  </script>



						 <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider3").responsiveSlides({
								auto: true,
								pager: false,
								nav: true,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
						  </script>


   </body>
</html>